<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h3 style="font-size:40px;">Hello World</h3>
    <form action = "http://localhost:5000/" method = "post">
        <p>What's your name:</p>
        <p><input type = "text" name = "nam" /></p>
        <p>What's your age:</p>
        <p><input type = "number" name = "age" /></p>
<!--        <label for="nam">Country:</label><br>-->
<!--        <input type="text" id="nam" name="nam"><br>-->
<!--        <label for="rws">Number of rows to generate:</label><br>-->
<!--        <input type="number" id="rws" name="rws">-->
        <p>What do you like:</p>
        <label class="checkbox-inline">
            <input type="checkbox" name="datasetname" value="Sandwich">Sandwich
            <input type="checkbox" name="datasetname" value="Burger">Burger
            <input type="checkbox" name="datasetname" value="Pizza">Pizza
        </label>
        <p><input type = "submit" value = "Submit" /></p>
        <p><input type = "reset" value = "Reset" /></p>
    </form>
</body>
</html>